<p style="font-size: 33px; font-weight: 700; margin-bottom: 3rem">Python 기초</p>

# 개요

본 강의 자료는 [Python 공식 Tutorial](https://docs.python.org/3/tutorial/index.html)에 근거하여 만들어졌으며, Python 3.9 이상 버전에 해당하는 내용을 담고 있습니다.

또한, 파이썬에서 제공하는 스타일 가이드인 [`PEP-8`](https://www.python.org/dev/peps/pep-0008/) 내용을 반영하였습니다.

파이썬을 활용하는 다양한 IT기업들은 대내외적으로 본인들의 스타일 가이드를 제공하고 있습니다.

* [구글 스타일 가이드](https://github.com/google/styleguide/blob/gh-pages/pyguide.md)
* [Tensorflow 스타일 가이드](https://www.tensorflow.org/community/style_guide)

# 기초 문법(Syntax)
## 들여쓰기(Indentation)

코드 블록을 구분할 때, 중괄호 ({,}) 대신 <들여쓰기 (identation)>를 사용합니다.

들여쓰기를 할 때는 4칸(space키 4번) 혹은 1탭 (Tab키 1번)을 입력합니다.
- 주의! 한 코드 안에서는 반드시 한 종류의 들여쓰기를 사용합니다.
- 원칙적으로는 공백 (빈칸, space) 사용을 권장합니다. * PEP8 권장사항

In [ ]:
# 일반적인 코드 작성 스타일

In [ ]:
print('hello')
print('world')

a = 'apple'

if True:
    print(True)
else:
    print(False)

b = 'banana'

## 변수(Variable)

### 변수
컴퓨터 메모리 어딘가에 저장되어 있는 객체를 참조하기 위해 사용되는 이름을 의미합니다.
- 객체(object) : 숫자, 문자, 클래스 등 **값을 가지고 있는 모든 것**을 말합니다.
    - 파이썬은 객체지향 언어이며, 모든 것이 객체로 구현되어 있습니다.
- 동일 변수에 다른 객체를 언제든 할당할 수 있습니다.
    - 즉, 참조하는 객체가 바뀔 수 있기 때문에 '변수' 라고 부릅니다.

<center><img src="https://user-images.githubusercontent.com/18046097/61179855-0c8d0200-a646-11e9-9e9e-2c6df0504296.png", alt="variable"/></center>


<center><img src="https://user-images.githubusercontent.com/18046097/61179857-13b41000-a646-11e9-9a88-8487df4eaf52.png", alt="box"/></center>

### 할당 연산자(Assignment Operator): `=`

* 변수는 `=`을 통해 할당(assignment) 됩니다.

* 해당 데이터 타입을 확인하기 위해서는 `type()`을 활용합니다.

* 해당 값의 메모리 주소를 확인하기 위해서는 `id()`를 활용합니다.

In [ ]:
# 변수 x에 임의의 문자열을 할당해봅시다.

In [145]:
x= int('123')

In [ ]:

x='123'

In [135]:
# type(x)를 실행하여 변수 x에 할당된 값의 데이터 타입을 확인해 봅시다.

In [146]:

type(x)

int

In [147]:
# id(x)를 실행하여 변수 x의 고유 메모리 주소를 확인해봅시다.

In [144]:
id(x)

4592165120

### 변수 연산

In [ ]:
# i, j, s 변수에 각각 5, 3, '파이썬'을 할당해봅시다.

In [148]:
i= 5
j= 3
s= '파이썬'

In [ ]:
i = 5
j = 3
s = '파이썬'

In [8]:
# 변수 i와 j를 더해봅시다.
i+j

8

NameError: name 'ptint' is not defined

In [ ]:
# 변수 i에 i - j를 할당해봅시다.

In [10]:
ㅓ = -2
i  * j

15

In [ ]:
# 변수 j에 -2를 할당하고 i * j를 실행해봅시다.

In [153]:
ㅓ= -2 
i * j 
print(j)
i*j

3

-6

In [ ]:
i=-2 
j= 3
i*j

-6

In [ ]:
# i * j / 3 을 실행하여 결과를 확인해봅시다.

In [ ]:
# 문자열 '안녕'과 변수 s를 더해봅시다.

In [12]:
'안녕' + s

'안녕파이썬'

In [ ]:
# 변수 s에 s * 3을 할당하고 결과를 확인해봅시다.

In [163]:
s=3 
s*=3 
print(s)

9

In [14]:
s * 3

'파이썬파이썬파이썬'

In [ ]:
# 변수 s에 문자열 'Python'을 할당하고
# s + ' is fun'을 실행하여 결과를 확인해봅시다.

In [164]:
s = 'Python'
s + 'is fun'

'Pythonis fun'

In [169]:
s = 'Python'
s += 'is fun'
print(s)

Pythonis fun

In [ ]:
s = 'Python'
s + 'is fun'

### 변수 할당
* 같은 값을 동시에 할당할 수 있습니다.

In [17]:
# 같은 값을 x와 y에 동시에 할당해봅시다.
# 그리고 print를 이용하여 x, y 값을 확인해봅시다.

In [18]:
x =  y  = 3

print (x,y)

3 6

* 다른 값을 동시에 할당 가능합니다.

In [19]:
# 두 개의 변수 x, y에 값 1, 2를 동시에 할당해봅시다.
# 그리고 print를 이용하여 x, y 값을 확인해봅시다.

In [75]:
x, y = 1, 2
print(x,y)

1 2

In [20]:
# 두 개의 변수 x, y에 값 1을 할당해봅시다.
# 두 개의 변수에 하나의 값을 할당했을 때의 오류를 확인해봅시다.

In [ ]:
x, y = 1 ## 값이 하나라서 오류

In [21]:
# 두 개의 변수 x, y에 값 1, 2, 3을 동시에 할당해봅시다.
# 두 개의 변수에 세 개의 값을 할당했을 때의 오류를 확인해봅시다.

In [76]:
x, y= 1, 2, 3

ValueError: too many values to unpack (expected 2)

### 실습 문제
- x = 10, y = 20 일 때, 각각 값을 바꿔서 저장하는 코드를 작성하세요.

In [171]:
x, y = 10, 20

In [80]:
# 변수 x와 y의 값을 바꿔봅시다.
# 그리고 결과를 print를 이용해 확인해봅시다.

In [ ]:
tmp=x ## x를 임의의 문자로 지정 
x=y  ## x와 y가 같다고 지정 >>그러면 y=x=tmp=10이 된다. 
y=tmp 
print(x,y) ## 그럼 결과는 (x,y)=10,10 이 된다.

20 10

In [84]:
tmp = x  #임시변수 tmp , way 1
x = y
y = tmp 
print(x,y)

20 10

In [85]:
x = x + y # 새로운 변수를 안쓰는 방법 way2 
y = x - y
x = x - y 
print(x,y)

10 20

### 식별자(Identifiers)

파이썬에서 식별자는 변수, 함수, 모듈, 클래스 등을 식별하는데 사용되는 이름(name)입니다.

* 식별자의 이름은 영문 알파벳(대문자와 소문자), 언더스코어(_), 숫자로 구성됩니다.
* 첫 글자에 숫자가 올 수 없습니다.
* 길이에 제한이 없습니다.
* 대/소문자(case)를 구별합니다.
* 아래의 키워드는 사용할 수 없습니다. [파이썬 문서](https://docs.python.org/ko/3/reference/lexical_analysis.html#keywords)

```
False, None, True, and, as, assert, async, await, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield
```

In [24]:
# 키워드들을 직접 확인해봅시다.
# import 구문을 사용하여 keyword를 불러옵니다.
# print를 이용하여 파이썬이 가지고 있는 키워드 / 예약어를 출력해봅시다.
# import 구문에 대한 자세한 내용은 모듈 챕터에서 학습하겠습니다.

In [87]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

*  내장함수나 모듈 등의 이름으로도 만들면 안됩니다.
- 기존의 이름에 다른 값을 할당하게 되므로 더 이상 동작하지 않게됩니다.

In [26]:
# 내장함수의 이름을 사용하면 어떤일이 일어나는지 확인해봅시다.

In [89]:
# print는 값을 출력해주는 내장함수(Built-in function)입니다.
# print(5)를 실행하여 결과를 확인해봅시다.
print='hi'

print = 'hi'
print(10)을 히먄 오류가 나는 이유
'hi'(10)와 같은 말임 >> 이미 쓰인 이름을 주의해야한다.

In [ ]:
print # 변수 print에 문자열 'hi'를 할당합니다.
# 그리고 print() 를 사용하였을때 발생하는 오류를 확인해봅시다.
# print는 'hi'라는 값을 가지는 변수로 할당되었기 때문에 이전의 출력 기능을 수행하지 못합니다.

In [29]:
# 뒤에서 진행될 코드에 영향이 갈 수 있기 때문에 방금 생성한 print 변수를 삭제합니다.
# 아래와 같이 del 연산자를 활용합니다.
# del print
# 사용자가 지정한 변수 print는 삭제되고, 기존의 화면출력 기능을 가지는 print가 동작합니다.
# 자세한 내용은 namespace 파트에서 확인해봅시다.

In [ ]:
del print

## 사용자 입력(input)

### input([prompt])
* 사용자로부터 값을 즉시 입력 받을 수 있는 파이썬 내장함수입니다.
* 대괄호([]) 안에 문자열을 입력하면 해당 문자열을 출력할 수 있습니다.
    - 단, 대괄호는 생략합니다.
    ```python
    # ex)
    input('값을 입력해 주세요. : ')
    ```

In [30]:
# input()을 사용해 봅시다.
# data 변수에 input()의 반환값을 할당합니다.
# print 함수를 이용하여 data 변수에 담긴 값을 출력해 봅시다.

In [31]:
# 문자열 '이름을 입력 해 주세요. : '를 출력하는 input 함수를 변수 name에 할당합니다.
# print 함수를 이용하여 name 변수에 담긴 값을 출력해 봅시다.

In [ ]:
name = ('이름을 입력해 주세요:')
print(name)
num= input('숫자를 입력해주세요:')

이름을 입력해 주세요:

* 반환값은 항상 문자열의 형태로 반환됩니다.

```python
>>> num = input('숫자를 입력 해 주세요. : ')
숫자를 입력 해 주세요. : 100
    
>>> print(num)
'100'

>>> print(type(num))
<class 'str'>
```

In [32]:
# input()으로 입력 받은 값의 type을 출력해 봅시다.

In [99]:
x = input()
print(x, type(x)) #input 에 무엇이 들어올지 몰라 문자로 할당>

int(x) + 10  #필요하면 숫자로 바꾸자.

TypeError: 'str' object is not callable

## 주석(Comment)

* 한 줄 주석은 `#`으로 표현합니다.

* 여러 줄의 주석은
    1. 한 줄 씩 `#`을 사용해서 표현하거나,
    2. `"""` 또는 `'''`(여러줄 문자열, multiline string)으로 표현할 수 있습니다.
    (multiline은 주로 함수/클래스를 설명(docstring)하기 위해 활용됩니다.)

In [33]:
# 주석을 연습해봅시다.

In [ ]:
'''
'''

In [ ]:
# print('hello') # 이 줄은 실행되지 않습니다.

In [35]:
# 여러줄 주석을 multiline string을 활용하여 연습해봅시다.

# 자료형(Data Type)

## 자료형 분류
- **불린형**(Boolean Type)
- **수치형**(Numeric Type)
    - int (정수, integer)
    - float (부동소수점, 실수, floating point number)
    - complex (복소수, complex number)
- **문자열**(String Type)
- **None**
    - 값이 없음을 표현하기 위한 타입


<img width="634" alt="자료형" src="https://user-images.githubusercontent.com/45934087/148158891-fe28256b-1df4-4b83-ab51-54d06c107d20.png">

## 불린형 (Boolean Type)

파이썬에는 `True`와 `False`로 이뤄진 `bool` 타입이 있습니다.

비교/논리 연산을 수행 등에서 활용됩니다.

다음은 `False`로 변환됩니다.
```
0, 0.0, (), [], {}, '', None
```

In [36]:
# print와 type을 이용하여 True와 False의 타입을 출력해 봅시다.

In [101]:
True 
False = 1
#값 / 이름
1, 2, '1234',False
type(True)

bool

- bool() 함수
    - 특정 데이터가 True인지 False인지 검증합니다.

In [37]:
# 0, '', 1, [], -1, [1, 2, 3] 을 bool 함수를 이용하여 타입을 확인해 봅시다.

In [102]:
bool(0), bool(100)

(False, True)

In [103]:
bool(''),bool ('asdfad')

(False, True)

In [104]:
bool([''])  #비어있는게 있음! TRUE

True

## 수치형(Numeric Type)
[파이썬 문서](https://docs.python.org/ko/3/library/stdtypes.html#numeric-types-int-float-complex)

###  `int` (정수, ingteger)

모든 정수는 `int`로 표현됩니다.

Python3에서는 `long` 타입은 없고 모두 `int` 타입으로 표기 됩니다.

* 보통 프로그래밍 언어 및 Python2에서의 long은 OS 기준 32/64비트입니다.
* Python3에서는 모두 int로 통합되었습니다.

8진수 : `0o` / 2진수 : `0b` / 16진수: `0x` 로도 표현 가능합니다.

In [105]:
# 변수 a에 정수 3을 할당하고 해당 변수의 type을 알아봅시다.
a = 3 
type(a)

int

In [109]:
a = 2 ** 64
print (a, type(a))

18446744073709551616 <class 'int'>

In [39]:
# 변수 a에 2의 64제곱을 할당합니다.
# print와 type을 이용하여 a의 값과 타입을 확인해봅시다.

**파이썬에서 표현할 수 있는 가장 큰 수**
* 파이썬에서 가장 큰 숫자를 활용하기 위해 sys 모듈을 불러옵니다.
* 파이썬은 기존 C 계열 프로그래밍 언어와 다르게 정수 자료형(integer)에서 오버플로우가 없습니다.
* 임의 정밀도 산술(arbitrary-precision arithmetic)을 사용하기 때문입니다.

> **오버플로우(overflow)**
- 데이터 타입 별로 사용할 수 있는 메모리의 크기가 제한되어 있습니다.
- 표현할 수 있는 수의 범위를 넘어가는 연산을 하게 되면, 기대했던 값이 출력되지 않는 현상, 즉 메모리를 넘어선 상황을 의미합니다.

> **임의 정밀도 산술(arbitrary-precision arithmetic)**
- 사용할 수 있는 메모리양이 정해져 있는 기존의 방식과 달리, 현재 남아있는 만큼의 가용 메모리를 모두 수 표현에 끌어다 쓸 수 있는 형태를 의미합니다.
- 특정 값을 나타내는데 4바이트가 부족하다면 5바이트, 더 부족하면 6바이트까지 사용할 수 있게 유동적으로 운용합니다.

In [40]:
# 파이썬이 얼만큼 큰 숫자까지 저장할 수 있는지 확인해봅시다.

In [41]:
import sys
max_int = sys.maxsize
# sys.maxsize 의 값은 2**63 - 1 => 64비트에서 부호비트를 뺀 63개의 최대치
print(max_int)
super_max = sys.maxsize * sys.maxsize
print(super_max)

9223372036854775807
85070591730234615847396907784232501249

In [42]:
# n진수를 만들어봅시다.
# 2진수는 변수 binary_number에 0b10을 할당합니다.
# 8진수는 변수 octal_number에 0o10을 할당합니다.
# 10진수는 변수 decimal_number에 10을 할당합니다.
# 16진수는 변수 hexadecimal_number에 0x10을 할당합니다.
# 각 변수를 print를 이용해서 여러줄로 출력해봅시다.

In [ ]:
binary_number = 0b10
octal_number=0o10
decimal_number =10
hexadecimal_number = 0x10
print(binary_number, octal_number)

### `float` (부동소수점, 실수, floating point number)

실수는 `float`로 표현됩니다.

다만, 실수를 컴퓨터가 표현하는 과정에서 부동소수점을 사용하며, 항상 같은 값으로 일치되지 않습니다. (floating point rounding error)

이는 컴퓨터가 2진수(비트)를 통해 숫자를 표현하는 과정에서 생기는 오류이며, 대부분의 경우는 중요하지 않으나 값이 같은지 비교하는 과정에서 문제가 발생할 수 있습니다.

In [43]:
# 변수 a에 실수 3.5를 할당하고 해당 변수의 type을 알아봅시다.

#### 컴퓨터식 지수 표현 방식
* e를 사용할 수도 있습니다. (e와 E 모두 사용 가능)

In [44]:
# 컴퓨터식 지수 표현 방식을 사용해봅시다.
# 변수 b에 지수 314e-2를 할당하고 해당 변수의 type을 알아봅시다.
# print를 이용해 변수 b의 값도 알아봅시다.

In [ ]:
b=314e-2  #etntwk ->10 숫자제곱
10e9 
type(b)

#### 실수의 연산
* 실수의 경우 실제로 값을 처리하기 위해서는 조심할 필요가 있습니다.

In [45]:
# 실수의 덧셈을 해봅시다.
# 실수 두 개를 더해봅시다. (3.5 + 3.2)

In [110]:
3.5 + 3.2

6.7

In [46]:
# 실수의 뺄셈을 해봅시다. (3.5 - 3.12)

In [111]:
3.5 - 3.12

0.3799999999999999

In [112]:
3.5 -3.12 == 0.8

False

In [47]:
# 우리가 원하는대로 반올림을 해봅시다.
# round() 는 0~4는 내림, 5는 동일하게 작동하지 않고 반올림 방식에 따라 다릅니다.
# 짝수에서 5는 내림 / 홀수에서 5는 올림
# round(값, 소수점자릿수)
# 3.5 - 3.12 의 값을 반올림하는데 소수점 2자리까지 나타나게 해봅시다.

In [113]:
round(3.5 - 3.12, 2) ## 소숫점 2자리에서 반올림

0.38

In [48]:
# 3.5 - 3.12의 결과와 0.38의 값이 같은지 == 을 사용해서 확인해봅시다.

In [49]:
# print를 이용해서 3.5 - 3.12의 값을 확인해 봅시다.

* 따라서 다음과 같은 방법으로 처리 할 수 있습니다. (이외에 다양한 방법이 있음)

In [52]:
# 3. python 3.5부터 활용 가능한 math 모듈을 통해 처리하는 법을 알아봅시다.

In [ ]:
# math.isclose() 를 이용해서 a와 b의 값이 같은지 확인할수 있습니다.
import math 
math.isclose(3.5 -3.12, 0.38)

### `complex` (복소수, complex number)

각각 실수로 표현되는 실수부와 허수부를 가집니다.

복소수는 허수부를 `j`로 표현합니다.

In [54]:
# 변수 a에 복소수 3+4j를 할당하고 해당 변수의 type을 알아봅시다.

In [ ]:
a = 3 + 4j

## 문자열 (String Type)

### 문자열
- 모든 문자는 `str` 로 표현됩니다.

### 기본 활용법

* 문자열은 Single quotes(`'`)나 Double quotes(`"`)을 활용하여 표현 가능합니다.

* 단, 문자열을 묶을 때 동일한 문장부호를 활용해야하며, `PEP-8`에서는 **하나의 문장부호를 선택**하여 유지하도록 하고 있습니다.
(Pick a rule and Stick to it)

In [55]:
# 문자열 hello 를 출력해 봅시다.
# 문자열 hello의 타입을 출력해 봅시다.

In [114]:
print('hello', type('hello'))

hello <class 'str'>

In [56]:
# 문자열 철수 '안녕' 을 출력해 봅시다.
# 문자열 철수 "안녕" 을 출력해 봅시다.

In [ ]:
print('철수 \'안녕\'')

In [57]:
# 변수에 문자열을 할당하고 출력해봅시다.
# 변수 greeting 에 hi를 name 에 이름을 할당합시다.
# 그리고 각각의 변수를 print로 찍어보고 type도 확인해봅시다.

In [116]:
greeting= 'hi'
name ='neo'
greeting+''+name ## 모두 숫자이기에..

'hineo'

In [58]:
# 변수 age 에 사용자로 부터 입력을 받을 수 있는 input()의 결과를 저장합시다.
# age 에 입력받은 값이 저장되었는지 그리고 그 type이 무엇인지 확인해봅시다.
# 숫자를 할당했을때와 문자를 할당했을때의 type이 같은지 다른지도 확인해봅시다.

In [ ]:
age=input() #문자이다. 
print(age, type(age)) ## 변경하고 싶으면 직접 타입변환

- Immutable

문자열을 변경할 수 없음

- Iterable

문자열을 순회 가능함

### 중첩 따옴표 (Nested Quotes)
따옴표 안에 따옴표를 표현할 경우 아래와 같이 사용할 수 있습니다.

- 작은따옴표: `'"큰" 따옴표를 담을 수 있습니다'`

SyntaxError: unterminated string literal (detected at line 1) (340683613.py, line 1)

- 큰따옴표: `"'작은' 따옴표를 담을 수 있습니다"`

### 삼중 따옴표 (Triple Quotes)
작은 따옴표나 큰 따옴표를 삼중으로 사용합니다.

- 문자열 안에 따옴표를 넣을 때 사용합니다.

- 여러줄에 걸쳐있는 문장은 다음과 같이 표현 가능합니다.

* `PEP-8`에 따르면 이 경우에는 반드시 `"""`를 사용하도록 규정합니다.

In [119]:
# 아래 작성된 내용을 삼중 따옴표와 하나의 print 문을 사용하여 출력해 봅시다.
a='''안녕 나는 여러줄 글자야 '''
"""01_variable_data_type.ipygoeh kdrhksdp djqtdma """
print(a) ##

안녕 나는 여러줄 글자야

문자열 안에 '작은 따옴표'나

"큰 따옴표"를 사용할 수 있고

여러 줄을 사용할 때도 편리하다.

### 이스케이프 시퀀스 (Escape sequence)

문자열을 활용하는 경우 특수문자 혹은 조작을 하기 위하여 사용되는 것으로 역슬래시 `\`를 활용하여 이를 구분합니다.

|<center>예약문자</center>|내용(의미)|
|:--------:|:--------:|
|\n|줄 바꿈|
|\t|탭|
|\r|캐리지리턴|
|\0|널(Null)|
|\\\\ |`\`|
|\\'|단일인용부호(`'`)|
|\\"|이중인용부호(`"`)|

In [60]:
# 다음 문자열을 작은 따옴표와 escape sequence만을 사용하여 출력해 봅시다.
# 철수야 '안녕'

In [120]:
'철수야 \'안녕\''

"철수야 '안녕'"

In [61]:
# 다음 문자열을 하나의 print 함수에서 출력해 봅시다.
# escape sequence를 이용합니다.

```
이 다음은 엔터.
그리고 탭    탭
```

In [121]:
print('이 다음은 엔터. \n그리고 탭\t탭')

이 다음은 엔터.
그리고 탭	탭

### String interpolation

* [`f-strings`](https://www.python.org/dev/peps/pep-0498/) : 파이썬 3.6 이후 버전에서 지원

In [63]:
# name 변수에 이름, score 변수에 학점을 할당해봅시다.

In [127]:
name = 'neo'
score = 4.5

In [64]:
# f-string을 활용해봅시다.
# name 을 출력해봅시다.

In [187]:
#글자안에 변수를 녹여서 문장을 완성하기 
## print('이름: '+name+', 학점'+str(score)')
print('이름:name, 학점:score')
print('이름:name, 학점:score')
print(f'이름: {name}, 학점: {score}')

이름:name, 학점:score
이름:name, 학점:score
이름: 이름을 입력해 주세요:, 학점: 4.5

In [ ]:
print('이름:name, 학점:score')
pirnt ()

In [65]:
# 여러줄 문자열에서도 사용 가능합니다.
# f-string을 이용하여 name을 여러줄 문자열로 출력해봅시다.

In [130]:
s= f'''
{name} -> {score}
'''
print(s)

neo -> 4.5

* f-strings에서는 형식을 지정할 수 있습니다.

In [66]:
# 다양한 형식을 활용하기 위해 datetime 모듈로 오늘을 표현해봅시다.
# today 에 현재 시간 날짜를 할당해봅시다.
# print를 이용하여 today를 출력해봅시다.

In [67]:
import datetime #import 는 밖에서 불러온다는 의미
today = datetime.datetime.now()
print(today)

2025-07-14 13:22:00.137216

In [68]:
# interpolation에서 출력형식을 지정할 수 있습니다.
# today에 저장된 시간을 YYYY년, mm월, dd일, a요일 로 구분해서 출력해봅시다.
# 각각 %y, %m, %A를 사용합니다.

In [69]:
print(f'오늘은 {today:%Y}년 {today:%m}월 {today:%d}일 {today:%A}')

오늘은 2025년 07월 14일 Monday

* f-strings에서는 연산과 출력형식 지정도 가능합니다.

In [70]:
# string interpolation을 통해 출력형식 지정 뿐만 아니라, 연산도 가능합니다.
# pi = 3.141592를 할당하고
# 원주율은 3.14. 반지를이 2일 때 원의 넓이는 12.566368이라고 출력해봅시다.

In [131]:
pi = 3.141592
print(f'원주율은 {pi:.3}. 반지름이 2일 때 원의 넓이는 {pi * 2 * 2}이라고 출력해봅시다.')

원주율은 3.14. 반지름이 2일 때 원의 넓이는 12.566368이라고 출력해봅시다.

## None Type

파이썬에서는 값이 없음을 표현하기 위해 `None` 타입이 존재합니다.

In [72]:
# None의 타입을 알아봅시다.

In [ ]:
None

In [73]:
# 변수에 저장해서 확인해봅시다.
# 변수 a에 None을 할당하고 출력해봅시다.

In [ ]:
a= None
print(a, type(a))