In [ ]:
# -q (quiet) 옵션은 설치 로그를 안보여줌(조용히함)
%pip install -q seaborn

In [ ]:
# 타이타닉(데이터 프레임 ) 데이터셋 불러오기
# (pandas에 기본 내장된 예제 데이터셋)
import seaborn as sns
import pandas as pd

# titanic 데이터 DataFrame
titanic = sns.load_dataset('titanic')

# 처음 5개 행 보기
print("타이타닉 데이터 미리보기:")
print(titanic.head())

# 데이터셋 정보 확인
print("\n데이터셋 정보:")
print(titanic.info())

# 데이터 요약 통계
print("\n데이터 요약 통계:")
print(titanic.describe())

In [ ]:
# Col 결측치 합계  
df = titanic
titanic.isnull().sum()
# 승객 등급 등장 빈도 (1, 2, 3 등석)
df['class'].value_counts()[0:3]
# 성별 빈도(남/녀)
df['sex'].value_counts()
# 생존 여부 빈도(생존자/사망자)
df['alive'].value_counts()

In [ ]:
#성별에 따른 생존율 survived 
survival_rate = df.groupby('sex')['survived'].mean()
#더 복잡한 톡예 가능 
titanic.groupby('sex').agg({'survived':['mean']})
#승객 등급에 따른 생존율 
survival_rate1 = df.groupby('pclass')['survived'].mean()
print(survival_rate, survival_rate1)
#전체 인원중 생존자 수

In [ ]:
# 성별 & 승객 등급에 따른 생존
titanic.groupby(['sex', 'pclass'])['survived'].mean()

#피벗테이블 
titanic.pivot_table(
    values='survived',
    index='sex',
    columns='pclass',
    aggfunc='mean'
)
# 나이 그룹별 생존율 
titanic['age_group']= pd.cut(
    titanic['age'],
    bins=[0, 12, 18, 35, 60, 100,200], #0~12는 아동이고..
    labels=['아동', '청소년', '청년', '중장년', '노년','불사'] #초과~이하 

)
titanic.head(3)

#카테고리가 있는데 해당되는 내용이 없을 때/ observed 옵션
titanic.groupby('age_group',observed=True)['survived'].mean()
print(titanic.groupby('age_group',observed=True)['survived'].mean())

#성별 +나이그룹으로 생존율 확인


titanic.groupby(['sex', 'age_group'])['survived'].mean()

titanic.pivot_table(
    values='survived',
    index='age_group',
    columns='pclass',
    aggfunc='mean'
)
# 나이 그

In [ ]:
titanic = sns.load_dataset('titanic')
#결측치 확인 
missing = titanic.isna().sum()
#결측이 있는 항목만 확인 
missing[missing > 0]
#결측비율 
titanic.isna().mean() * 100

In [ ]:
# 결측치 채우기 
# age: 중요한 정보: 평균/ 중앙값 대체
#embarked : 가장 많은 사람들이 탄 곳으로 대체 edck: 
#deck 추측 불가능 (의미 없음) ->삭제 

#필요하다면, 카피떠서 진행 
titanic_processed =titanic.copy()

#나이 결측치 채우기 (남녀상관없이 전체 평균으로 채움)
mean_age = titanic['age'].mean()
titanic_processed['age'] = titanic['age'].fillna(mean_age)
#비어있던 행 마스킹
mask = titanic['age'].isna() 
titanic['age'].isna() .sum()

#평균으로 채워진 값들만 확인
titanic_processed.loc[mask]

In [ ]:
#성별/객실 별로 평균을 추정하는 건??

#모든 사람들을 성별과 객실 그룹의 평균나이로 바꾼 Series
mean_ages = titanic.groupby(['sex', 'pclass'])['age'].transform('mean')

#titanic 의 age col 중 빈 값만, mean_age 로 채움 
titanic_processed['age'] = titanic['age'].fillna(mean_ages)

titanic_processed.loc[titanic['age'].isna()]
#원래 비어있던 애들만 확인

In [ ]:
#embarked (탑승도시) ->최빈값 (가장 많이 탄 곳)

#비어 있는 항구 개수 
titanic['embarked'].isna().sum()
#최빈값 (Series - 벡터)
mode_embarked = titanic['embarked'].mode()[0] #Series 에서 1개 뽑기 
#빈 값은 최빈값으로 교체 
titanic_processed['embarked'] = titanic['embarked'].fillna(mode_embarked)

#처리 완료 확인(빈값0개)
titanic_processed['embarked'].isna().sum()

In [ ]:
# dec =k 은 77% 가 비어있음-> 삭제 
titanic['deck'].isna().mean() * 100  #빈값 비율 
#'deck'컴럼은 삭제
titanic_processed.drop('deck',axis=1,inplace= True)
titanic_processed.info

In [ ]:
titanic_processed.info

In [ ]:
# 타이타닉 데이터셋 불러오기
# (seaborn 기본 내장된 예제 데이터셋)
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore', category=UserWarning)

plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

# titanic 데이터 DataFrame
titanic = sns.load_dataset('titanic')

# 수치 데이터에만 집중
numeric_cols = ['age', 'fare']
print("타이타닉 데이터셋 기본 정보:")
print(titanic[numeric_cols].describe())

In [ ]:
# 결측치 처리 안하면 제대로 시각화 제대로 안나옴

# 1. 이상치 탐지 및 시각화
plt.figure(figsize=(15, 10))

# 나이 분포
plt.subplot(2, 4, 1)
plt.hist(titanic['age'], bins=30, alpha=0.7)
plt.title('나이 분포')
plt.xlabel('나이')

plt.subplot(2, 4, 2)
plt.boxplot(titanic['age'])
plt.title('나이 박스플롯')

# 요금 분포
plt.subplot(2, 4, 3)
plt.hist(titanic['fare'], bins=50, alpha=0.7)
plt.title('요금 분포')
plt.xlabel('요금')

plt.subplot(2, 4, 4)
plt.boxplot(titanic['fare'])
plt.title('요금 박스플롯')

# 산점도
plt.subplot(2, 4, 5)
plt.scatter(titanic['age'], titanic['fare'], alpha=0.6)
plt.xlabel('나이')
plt.ylabel('요금')
plt.title('나이 vs 요금')

# 객실 등급별 요금 분포
plt.subplot(2, 4, 6)
sns.boxplot(x='pclass', y='fare', data=titanic)
plt.title('객실 등급별 요금')

# 생존자별 나이 분포
plt.subplot(2, 4, 7)
sns.boxplot(x='survived', y='age', data=titanic)
plt.title('생존자별 나이')

# 생존자별 요금 분포
plt.subplot(2, 4, 8)
sns.boxplot(x='survived', y='fare', data=titanic)
plt.title('생존자별 요금')

plt.tight_layout()
plt.show()

In [ ]:
# 결측치처리 
# 모든 사람들을 성별/객실 그룹의 평균 나이로 바꾼 Serise 
tp = titanic .copy()
print(titanic.groupby(['sex','pclass'])['age'].mean())

#각 승객의 그룹에 맞춰서(상별 +객실등급) 헤딩 그룹의 평균으로  일괄 변결 
mean_ages = titanic.groupby(['sex', 'pclass'])['age'].transform('mean')
mean_ages
#titanic의 'age' col 중 빈 값만 , mean_ages로 채움.
tp['age'] = titanic['age'].fillna(mean_ages)
tp['age']

In [ ]:
# 2. 요금 데이터의 이상치 분석
# IQR 방법으로 이상치 탐지
Q1 = tp['fare'].quantile(0.25)
Q3 = tp['fare'].quantile(0.75)
IQR = Q3 - Q1
lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

fare_outliers = (tp['fare'] < lower) | (tp['fare'] > upper)
# 전체 IQR 기준 이상치 개수 / 전체 개수 (%)
fare_outliers.sum() / fare_outliers.count() * 100

In [ ]:

# 이상치에 해당하는 승객들 특성 분석
outliers_passengers = tp[fare_outliers]
# 객실 등급 분포
print(outliers_passengers['pclass'].value_counts())
# 성별 분포
print(outliers_passengers['sex'].value_counts())
# 생존 여부
print(outliers_passengers['survived'].value_counts())

In [ ]:
#객실 등급을 고려한 이상치 분석 
#객실 등급별로  요금 이상치 탐지(전체 기준 이상치가 객실별로는 이상치 아닐 수 있음)
def detect_outliers_by_group(data: pd.DataFrame, group_col:str, value_col:str):
    """그룹별 이상치 탐지"""
    #먼저, 전원 모두 이상치가 아닌 경우 False 로 세팅 
    outliers =pd.Series(False,data.index) #빈시리즈 생성, 각 행이 이상치인지 기록할 이상치 판별 목록 
    #현재 group_col 기준 유니크한 데이터(pclass -> 1,2,3)
    for group in data[group_col].unique():
        group_data= data[data[group_col]==group][value_col] #group 값에 일치하는 행들만 필터링해서 부분 데이터 프레임을 만든다. 
        #해당 부분데이터프레임에서 이상치를 찾을 값 열만 선택하여 group data 변수에 저장한다.
        Q1 = group_data.quantile(0.25)        
        Q3 = group_data.quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - 1.5 * IQR
        upper = Q3 + 1.5 * IQR
        group_outliers = (group_data < lower) | (group_data > upper)
        outliers[group_data.index] = group_outliers #현재 그룹에 해당하는 인덱스 위치만 group_outlier에 덮어쓴다.


    return outliers

In [77]:
#겍실 등급별 이상한 사람들 (T/F mask series)
fare_outliers_by_pclass = detect_outliers_by_group(tp, 'pclass', 'fare') # tp 데이터프레임에서 ‘pclass’별로 ‘fare’ 열의 이상치를 찾아서, 그 결과를 fare_outliers_by_pclass에 저장
# 각 등급별로 따로 선별한 이상치 개수 
fare_outliers_by_pclass.sum()

np.int64(79)

In [ ]:
#ㄷㅡㅇ
def detect_outlier_iqr(data_series):
    Q1 = data_series.quantile(0.25)
    Q3 = data_series.quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - (1.5*IQR)
    upper_bound = Q3 + (1.5*IQR)
    return (data_series < lower_bound) | (data_series > upper_bound)

outlier_mask = titanic.groupby('pclass')['fare'].transform(detect_outlier_iqr)